@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900 &display=swap');

 /* universal part start */
*{
    margin: 0;
    padding: 0;
    outline-offset: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

 /* universal part end */

:root{
    --primary:#C22E3C;
    --normal:#ffffff;
    --black:#13131a;
    --bg:#0c1013;
    --dabger:#f75842;
    --border:0.1rem solid rgba(255,255,255,0.3);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 90%;
    --container-width-esm: 95%;
}

/* scroll bar part start */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
   background: var(--normal);
}
::-webkit-scrollbar-thumb{
   background: var(--black);
}
::-webkit-scrollbar-thumb:hover{
   background: var(--primary);
}

/* scroll bar part end */


body{
    line-height: 1.7;
    color: var(--normal);
    background-color: var(--bg);
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color:var(--normal);
    padding: 10px 15px !important;
    
}
img{
    width: 83%;
    display:block;
    object-fit: cover;
    z-index: 1;
}
.btn{
    display: inline-block;
    background: var(--primary);
    color: var(--black);
    padding: 0.2rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 1.6rem;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    align-items: center;
  
    
}
.btn:hover{
    color: var(--primary);
    background: transparent;
    border:1px solid var(--primary);  
}

.border_bottom{
    text-align: center;
    display:inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2rem;
}

#banner{
    height: 100vh;
    width: 100%;
}


 /* nav part start */
 
nav{
    background: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.window-scroll{
    background-color: #4e0a01ea;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav_container span{
    color: var(--primary);
}

.nav_container h4{
    font-size: 1.8rem;
}
.nav_container h4::first-letter{
    font-size: 2rem;
}
.nav_container h4:hover{
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.2s;
}
nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav_menu a{
    font-size:1.2rem;
    
}
.nav_menu a:hover{
     color: var(--primary);
     border-bottom: 3px solid var(--normal);
     padding-bottom: 0.5rem;
     background-color: var(--black);
     outline: none;
     border-radius: 15px;
}

     /* nav part end */
    

      /* Header part start */

header{
   height: 100vh;
   position: relative;
   top:5rem;
   overflow: hidden;
   margin-bottom: 2rem;
   background-color: var(--black);
}
.header_container{
    display: flex;
    align-items: center;
    position: relative; 
   
   
}
.header_left{
   flex: 1;  
} 
.header_left_img img{
   margin-top: 55px;  
} 

.header_right{
   flex: 1;
   margin-left: 3rem;
  
}
.header_right .text-1{
    font-size: 1.8rem;
    margin-bottom: 0.3rem
}
.header_right .text-2{
    font-size:3.6rem;
    font-weight: 550;
}
.header_right .text-3{
    font-size:2.5rem;
    margin: 0.3rem 0;
}

header::before{
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.5rem;
    z-index: 99;
    transform: skewY(-2deg);
    transform-origin: left;

}

.header_right .typing{
    color: var(--primary);
    font-weight: 600;
    font-size: 37px;
}

marquee{
    color: #FFF;
    font-size: 20px;
    background-color:var(--primary);
    width: 100%;
    height: 35px;
    font-weight: 600;
    padding-top: 2px;
    position: absolute;
    bottom: -570px;
    left: 10px;
    text-align: center;
    align-items: center;
}

/* scroll part */




  /* Header part end */


  /* about part start */

.about{
    text-align: center;
    padding-top: 150px;

}
.about_container{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;  
}

.about_container .about_img{
    border: 3px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    width:14.5rem;
    height: 14.5rem;
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;

  }
  .about_img img{
    width: 300px;
    padding-right: 50px;
  }
.about_container .about_text{
    max-width: 70%;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 3.5rem;
}

.about_container .about_text p{
    margin-bottom: 1rem;
}
.about_container .about_text .text{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.about_container .about_text .text span{
  color: var(--primary);
  font-weight: 600;
}

.about_container .btn{
    margin-top: 2.5rem !important;

}

  /* about part end */





  /* Services part start */

.services{
    text-align: center;
    padding: 100px 0;
  
   
}
.services_container .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;    
}
.services_container .cards .card{
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    margin: 0  1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    position: relative;    
}
.sbox i{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(--bg);
    border: 2px solid white;
    border-radius: 50%;
    padding:15px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    transition: all 1s;

}
.sbox h3{
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    color: var(--black);
    
}
.sbox p{
    color: #dad8d8;
    text-align: justify;
    font-size:14px;
    padding-bottom: 0.5rem;  
}
.sbox {
    height: 450px;
    padding-bottom: 160px;
}
.sbox a{
    color: var(--normal);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    background-color: var(--bg);
    border-radius: 1rem; 
    
}
.sbox a:hover{
    background-color:transparent;
    color:var(--black);
    font-weight: 600;
    border: 3px solid var(--black);

}

.services_container .cards .card:hover .sbox i{
    background-color:var(--normal);
    color: var(--primary);
    border: 4px solid var(--black);
}
.services_container .cards .card::after {
    content:"";
    height: 100%;
    width: 100%;
    background-color: var(--normal);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 1.5rem;
}

.services_container .cards .card:hover::after {
    transform: rotate(12deg);
}
  /* Services part end */





  /* Skill part start */


.myskill {
    text-align: center;
    margin-bottom: 40px;
}
.containers{
    width: 100%;
    height:550px;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px 0;
   
}
.skills h3{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: var(--normal);
    font-size: 16px;
  
    
}  
.progress_bar{
    background:var(--normal);
    width: 600px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
} 
.progress_bar div{
     height:20px;
     border-radius: 15px;
     width: 0%;
   
}           
.progress_bar div span{ 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#222;
    float: right;
    margin-top: -10px; 
    margin-right: -20px; 
    color: #FFF; 
    display: flex;
    justify-content: center;
    align-items: center;     
}

.html{
   background: #e91e63;
   animation: html 2s linear forwards;
}
.css{
   background: #cddc39;
   animation: css 2s linear forwards; 
}
.javascript{
   background: #00bcd4;
   animation: javascript 2s linear forwards; 
}
.jquery{
   background: #ffeb3b;
   animation: jquery 2s linear forwards; 
}
.mysql{
   background: #9c27b0; 
   animation: mysql 2s linear forwards;
}


.html span{
    border: 2px solid #e91e63;
    
}
.css span{
    border: 2px solid #cddc39;
    
}
.javascript span{
    border: 2px solid #00bcd4;
    
}
.jquery span{
    border: 2px solid #ffeb3b;
    
}
.mysql span{
    border: 2px solid #9c27b0;
}

 @keyframes html {
    100%{
        width: 92%;
    }  
 }
 @keyframes css {
    100%{
        width: 85%;
    }  
 }
 @keyframes javascript {
    100%{
        width: 75%;
    }  
 }
 @keyframes jquery {
    100%{
        width: 60%;
    }  
 }
 @keyframes mysql {
    100%{
        width: 72%;
    }  
 }
  /* Skill part end */


/*    Coundown-part start   */


.coundown{
    height: 600px;
    width: 100%;
    text-align: center;
}
.coundown h2{
   
    font-size: 36px;
    color:#C22E3C;
    padding: 20px;

}
.time{
    display: flex;
    padding: 50px;
    background-color: #0C1013;
    text-align: center;
 
  
}

.time div{
    margin: 30px;
    margin-left: 75px;
    box-shadow: 0px 1px 20px;
    color: #fff; 
    font-size: 40px;
    font-weight: 600;
    border-radius: 15px;
    padding: 30px;
    background-color:#C22E3C;
    font-family: sans-serif;

}

.time span{
    display: block;
    font-size: 40px; 
    font-family: sans-serif;
    margin-top: 12px;
}


/*    Coundown-part end   */




  /* portfolio part start */

.portfolio_container h2{
    margin-top: 10px;
}
.portfolio_container{
    text-align: center;
    height: 100vh;
    
}
.gallery{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--black);
    border-radius: 2rem;
    
}
.gallery a{
    height: 16rem;
    width: 30rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--primary);
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery a img:hover{
    transform: scale(1.4);
}

  /* portfolio part end */




  /* popular Course part start */

.courses{
    text-align: center;
    margin-top: 28rem;
}
.courses_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.course{
    background-color: var(--black);
    text-align: center;
    border: 3px solid transparent;
    
}
.course:hover{
    border-color: var(--primary);
    background: transparent;
    border-radius: 6px;
    transform: scale(1.1);
   
}
.course_info{
    padding: 1.5rem;
}
.course_info p{
    margin: 1rem 0 1rem;
    font-size: 0.7rem;
}
.course_info h4{
  font-size: 16px;
}
.course_info .btn{
    padding: 0.3rem 0.5rem;
}
  /* popular Course part end */



  /* FAQ part start */
.faqs{
    text-align: center;
    margin-top:3rem;
}
.faqs_container{
   display: grid;
   grid-template-columns: 1fr 1fr;  
   gap: 1rem;
   background-color: var(--black);
   box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.faq{
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--primary);
    color: var(--normal);
    text-align: justify;
    border-radius: 10px;
    cursor: pointer;
}
.faq h4{
    font-size: 1.1rem;
    line-height: 2.2;
    color: var(--black);
}
.faq p{
    font-size: 0.9rem;
    line-height: 2;
    display: none;
    margin-top: 0.8rem;
    color: #d3d3d3;
}

.faq.open p{
    display: block;
} 
.faq_icon{
    align-self: self-start;
    font-size: 1.5rem ;
}
  /* FAQ part end */

  


  /* Testimonial part start */

.container_test{
   width: 100%;
   height: 100vh;
   background-color: var(--black); 
   position: relative;
   text-align: center;
}
.container_test h1{
    padding-top: 20px;
}
.view_box{
    width: 900px;
    height: 410px;
    border-radius: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#testimonial{
    display: flex;
}
.user{
    width: 800px;
    text-align: center;
    padding: 10px 70px;
    box-sizing: border-box;
    background-color: var(--primary);
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
}
.space{
    margin: 0 70px;
}
.user img{
    width: 120px;
    border-radius: 30%;
    border: 3px solid #ffffff;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%);
  
}
.user p{
    font-size: 18px;
    color: #a5a4a4;
    line-height: 20px;  
    margin: 80px 0 20px;

}

.user h4,h5{
    color: #a5a4a4;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.controls span{
     width: 15px;
     height: 15px;
     background: var(--primary);
     border-radius:15px;
     margin: 0 8px;
     cursor: pointer;
     transition: 0.5s; 
 
}

.active{
    width: 45px !important;
}


  /* Testimonial part end */





  
/*    Age calculator-part start  */

.section{
    width: 80%;
    color: #fff;
    margin-bottom: 80px;
    margin-left: 130px;
}
.age_calculator{
width: 70%;
margin-left: 10%;
margin-top: 8%;
background: var(--primary);
height: 400px;
text-align: center;
border-radius: 15px;

}

.age_calculator h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 100px;
    padding-top: 50px;
}
.age_calculator h1 span{
    color:#070606;
}
.input_box {
        text-align: center;
        margin-left: 150px;
        display: flex;
        margin: 20px;
        height: 40px;
        gap: 10px;
        margin-right: 82px;
    }
   
.input_box input {
        font-size: 30px;
        margin-left: 150px;
        border: 2px solid white;
        text-align: left;
        background-color: #680101;
        color: var(--normal);
    }

.age_calculator button{
    background-color: #680101;
    color: #FFF;
    width: 200px;
    border-radius:10px;
    border: none;
    font-size: 24px;
    height: 43px;
    font-weight: 800;
    border: 2px solid white;
    cursor: pointer;
}

#result {
    font-size: 32px;
    margin-top: 60px;
    margin-left: 0px;
}

/*    Age calculator-part end   */






  
/*    catch-part start   */

.catch-part{
    height: 650px;
    width: 100%;
    background-color:#000000; 
    padding-top: 60px;
    margin-right: 200px;
    padding-bottom: 150px;
    
}
.catch-part h1{
   color: #FFF;
   text-align: center;
   padding-bottom: 50px;
}
.catch-part span{
    color:#9b0701;
    
}
form{
    text-align: center;
   
}
input{
    height: 40px;
    width: 400px;
    margin-bottom: 10px;
    background-color:var(--primary);
    border-radius: 8px;
    padding: 0px 12px;
    font-size: 18px;
    border: none;
  
}
textarea{
    max-height: 100px;
    min-height: 100px;
    max-width: 400px;
    min-width: 400px;
    margin-bottom: 10px;
    background-color:var(--primary);
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 18px;
    border: none;
    
}
.btn{
    color: #FFF;
    width: 200px;
    background-color: transparent;
    border: none;
    border: 2px solid #5F0603;
    font-size: 18px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.btn:hover{
    background-color: #470402;
    font-size: 18px;
    color: var(--normal);
    border:2px solid var(--normal);

}
/*    catch-part end   */


  /* footer part start */
  footer{
    padding: 3rem;
    background: var(--primary);
    font-size: 0.9rem;
  }

  
.footer_container{
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   gap: 5rem; 
   height: 320px; 
   width: 100%;
   margin-top: 60px;
   background-color: var(--black);
   padding: 2rem;
}  
.footer_container >div h4{
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.5rem;
   
}
footer ul li :hover {
    text-decoration: underline;
    color: var(--primary);

}
.footer_social{
    display: flex;
    gap: 0.5rem;
    font-size: 1.6rem;
    margin-top: .6rem;
}
.footer_copyright{
    text-align: center;
    border-top:1px solid var(--normal);
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 17px;
}
  /* footer part end */




/*    To_Top-part start   */

.to_top{
    position: fixed;
    height: 50px;
    width: 43px;
    right: 10px;
    bottom: 40px;
    background-color: #FFF;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-decoration: none;
    color: #9B0701;
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0;

}
.to_top.active{
    opacity: 1;
    pointer-events: auto;
}

/*    To_Top-part end   */








 /* Media queries  for (Tablets) */

 @media screen and (max-width:1024px){
.container{
    width: var(--container-width-md);
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
.header_right .text-1{
    font-size: 1.2rem;
   
}
.header_right .text-2{
    font-size:2rem;
   
}
.header_right .text-3{
    font-size:1.5rem;
}
.header_right .typing{
       font-weight: 450; 
}
.btn{
    padding: 0.3rem 1.2rem;
}


 /* Navbar */
 nav button{
    display:inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--normal);
    cursor: pointer;
}
nav button#close_menu-btn{
    display: none;
}
.nav_menu{
  position: fixed;
  right: 10%;
  top: 3.5rem;
  gap :0;
  height: fit-content;
  width: 18rem;
  flex-direction: column;
  display: none;

}
.nav_menu li{
  width: 100%;
  height: 2.5rem !important;
  animation:animateNavItems 0.2s linear forwards;
  transform-origin:top right;
  opacity: 0;
  margin: 2px 0;
  outline: none;
  position: relative;
}
.nav_menu li a{
  background-color: var(--primary);
  width: 180px;
  height: 100%;
  display: grid;  
  color: var(--normal);
  place-items: center;
  box-shadow: 1px 2px 30px rgba(2, 2, 2, 0.5);
  border-radius: 30px;
  border: 1px solid #ffffff;
  
} 
.nav_menu li:nth-child(2){
    animation-delay:0.2s;
}
.nav_menu li:nth-child(3){
    animation-delay:0.4s; 
}
.nav_menu li:nth-child(4){
    animation-delay:0.6s;
}
.nav_menu li:nth-child(5){
    animation-delay:0.8s;
}
.nav_menu li:nth-child(6){
    animation-delay:1s;
}
.nav_menu li:nth-child(7){
    animation-delay:1.2s;
}

@keyframes animateNavItems{
    0%{
        transform: rotateZ(-90deg);
    }
    100%{
        transform: rotateZ(0);
        opacity:1;
    } 
}
/* about part */

.about_container .btn{
    margin-top: 2rem;
}
.about_container .about_text .text{
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-left: 0;
} 
.about_container .about_text p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
} 

/* services part */
.services_container .cards{
    row-gap: 1.2rem;
    grid-template-columns: repeat(2,1fr);
   column-gap: 1rem;
   
}
.services_container .cards .card{
    padding: 2rem  1.3rem;
    margin: 0  0.5rem;
    height: 26rem;
}
.services_container .cards .card:hover::after {
    transform: rotate(5deg);
}

/* portfolio part */
.coundown div{

    margin:22px;
    margin-left: 15px;
}

/* portfolio end */




/* portfolio part */
.portfolio_container{
    padding-top: 30px;
}
.gallery a{
    height: 20rem;
    width: 26rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--primary);
}

/* popular course part */
.courses{
    padding-top: 15rem;
}
.courses_container{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.course{
    width: 17rem;
    
}


/* FAQ  part */
.faqs{
    text-align: center;
    padding-top:8rem;
    font-size: 1rem;
}
.faqs_container{
   
   grid-template-columns: 1fr 1fr;  
   
}
.question_ans h4{
    font-size: 1rem; 
   
    }
 }              


 
 /* Media queries  for (Mobile) */

 @media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }
   
    .header_right .text-1{
        font-size: 1rem;
        
       
    }
    .header_right .text-2{
        font-size:1.5rem;
       
    }
    .header_right .text-3{
        font-size:1.2rem;
    }
    
    .btn{
        padding: 0.3rem 1rem;
    } 
    
     /* Navbar */
   
    .nav_menu{
      right: 3%;
    }

    /* about part */
    
    .about_container{
        flex-direction: column;
    }
  
    /* services part */

    .services_container .cards{
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        align-items: center;

    }
    .services_container .cards .card{
        padding: 3rem 1rem;
        margin: 1rem 1rem;
    }

    /* portfolio part */

    .gallery a{
        width: 25rem;  
    }

    /* popular course part */
   .courses h2{
    margin-top: 70rem;
    column-gap: 3rem;
    }
    .courses_container{
        grid-template-columns: 1fr;
        width: 80%;
        padding-top: 1rem;
        text-align: center;
        margin-left: 10rem;
    }
    .courses_container .course{
        margin-bottom: 1rem;
    }

    /* FAQ  part */
    .faqs{
        text-align: center;
        margin-top:140rem;
        font-size: 1rem;
    }
    .faqs_container{
       grid-template-columns:1fr;  
       
    }
    
         /* Footer part */
    .footer_container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    }
    .footer_social{
    justify-content: center;
    }


     }              
    
     /* Media queries  for (Mobile) */

 @media screen and (max-width:375px){
    .container{
        width: var(--container-width-esm);
    }
    .header_left{
        grid-template-columns: 1fr;
     } 
    .header_right .text-1{
        font-size: 1rem;  
    }
    .header_right .text-3{
        font-size: 1rem;
    }
    .header_right .text-3 span{
        font-size: 1.5rem;
    }
    
    .btn{
        padding: 0.2rem 1rem;
    } 

/* about part */

.about_container .about_img {
   margin-left: 50px;
   margin-bottom: -2rem;
}
.about_container .text {
    width: 250px;
}
.about_container .about_text p{
    width: 250px;
}
.about_container .about_text .btn{
    padding: 0.2rem  3rem;
    font-size: 0.8rem;
    margin-left: 2rem;
}


 /* services part */
.services{
    margin-top: -250px;
    margin-right: 15px;
 }
.services_container .cards{ 
   width: 19rem;
}
.services_container .cards .card {
    padding: 1rem 1.8rem;
    margin: 1rem 1rem;
}
.sbox p{
    font-size: 12px;
}
 /* skills part */
.myskill{
    margin-right: 20px;
 }
.containers .skills .progress_bar {
    width:300px;
    margin-right: 50px;    
}
.containers {
    margin-top: -100px;
}
.skills h3 {    
    text-align: left;
}

/* complite */

 }